* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header1 {
    display: flex;
    flex-direction: row;
    justify-content:center;
    position: fixed;
    width: 100vw;
    height: auto;
    padding: 20px;
    background-color: #BFC3BA;
    gap: 40px;
}

.button1 {
    color: #60495A;
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
}